.searchresults a{
	color: #000;
	text-decoration: none;
	display: block;
}
.searchresults a:hover{
	color: #6c757d;
	text-decoration: none;
}
.client_search_input a {
	color: #000;
	text-decoration: none;
	display: block;
}

.client_search_input a:hover {
	color: #6c757d;
	text-decoration: none;
}

.searchresults_prod a{
	color: #000;
	text-decoration: none;
	display: block;
}

.searchresults_prod a:hover{
	color: #6c757d;
	text-decoration: none;
}

.prod_quant {
	align-content: center !important;
	width: 100px;
	margin-left: 3px;
}