body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: 	sans-serif;
}
.profile-img {
        width: 96px;
		height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }